body,html{
    height: 100%;
    width: 100%;
}
#mainNav{
    background-color: black;
}
#minimenu{
    float: right;
}
.nav-item .nav-link{
    float: right;
}
.htop{
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    min-height: auto;
    background-image: url(https://images.unsplash.com/photo-1591933319095-9bc25b14b0b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fGdoYW5hJTIwcGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    color: white;
    font-size: 1em;
    padding: 3em;
    padding-top: 13%;
}
.htop div,#about .container, #calculate .container{
    background-color: rgb(0, 0, 0) transparent;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: white;
}
#about{
    background-image: url(https://images.unsplash.com/photo-1515658323406-25d61c141a6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80);
    background-size: cover;
}
#calculate{
    background-image: url(https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=787&q=80);
    background-size: cover;
}


.footerA{
    height: 200px;
    padding: 20px;
    margin-top: 40px;
}
/*Calculate section styling*/
 .calculate .container h2{
     align-items: center;
 }
 .one{
    margin-top: 30px;
}
.two{
    margin-top: 10px;
}
.input{
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color:#000000;
    font-size: 18px;
    height: 150%;
    outline: 0;
    padding: 4px 20px 0;
    width: 50%;
}

 .input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}



.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: crimson;
}

.input:focus ~ .placeholder {
  color: black;
}


@media(min-width:768px){
    .htop{
        min-height: 100%;
    }
    .msection{
        min-height: 100%;
        padding: 6em 0;
    }
}